*~
*.class
*.DS_Store
build
.classpath
.factoryPath
.vscode
.jspm
.m2
.npm
.v8flags*
.sts4-cache/*
node_modules
target
src/main/resources/wise.properties
src/main/resources/application.properties
src/main/resources/application-dockerdev.properties
src/test/webapp/curriculum/temp
*.bak
.idea
!.idea/compiler.xml
wise.iml
*.sass-cache
npm-debug.log
hsqldb
hsqldb_test
src/main/webapp/curriculum/*
!src/main/webapp/curriculum/demo/
!src/main/webapp/curriculum/e2e-test1/
.classpath
tokens/
