<div class="tab-container" fxLayout="column" fxLayoutAlign="start stretch">
    <h2>Workgroups in: {{run.name}}</h2>
    <div *ngFor="let period of run.periods">
        <h3>Period {{period.name}}</h3>
        <table mat-table [dataSource]="allWorkgroupsInRun">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let workgroup"> {{workgroup.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let workgroup"> {{workgroup.name}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let workgroup"> <button mat-button color="accent" (click)="chooseNodeToSendWorkgroup(workgroup)" i18n>Send Workgroup to Step</button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button mat-button color="accent" (click)="chooseNodeToSendPeriod(period)" i18n>Send Period to Node</button>
        <button mat-button color="accent" (click)="pauseAllScreens(period)" i18n>Pause all screens</button>
        <button mat-button color="accent" (click)="unpauseAllScreens(period)" i18n>Un-pause all screens</button>
    </div>
</div>
