<div class="tab-container" fxLayout="column" fxLayoutAlign="start stretch">
    <h2>Run Information</h2>
    <div class="mat-elevation-z1">
        <table [dataSource]="runDataSource" mat-table matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Id</th>
                <td *matCellDef="let run" mat-cell> {{run.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Name</th>
                <td *matCellDef="let run" mat-cell> {{run.name}} </td>
            </ng-container>

            <ng-container matColumnDef="startTime">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Start Time</th>
                <td *matCellDef="let run" mat-cell> {{convertTimestamp(run.startTime)}} </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">End Time</th>
                <td *matCellDef="let run" mat-cell> {{run.endTime}} </td>
            </ng-container>
            <ng-container matColumnDef="numStudents">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Num Students</th>
                <td *matCellDef="let run" mat-cell> {{run.numStudents}} </td>
            </ng-container>
            <ng-container matColumnDef="periods">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Periods</th>
                <td *matCellDef="let run" mat-cell> {{run.periods}} </td>
            </ng-container>

            <tr *matHeaderRowDef="runDisplayedColumns;" mat-header-row></tr>
            <tr *matRowDef="let row; columns: runDisplayedColumns;" mat-row></tr>
        </table>
    </div>
    <br>
    <mat-form-field>
        <mat-label>Select Period:</mat-label>
        <mat-select (selectionChange)="periodSelectionChange($event)">
            <mat-option *ngFor="let period of periods" [value]="period">
                {{period}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <h2>Task Information {{periodTitle}}</h2>
    <div class="mat-elevation-z1">
        <table [dataSource]="tasksDataSource" mat-table matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Id</th>
                <td *matCellDef="let task" mat-cell> {{task.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Name</th>
                <td *matCellDef="let task" mat-cell> {{task.name}} </td>
            </ng-container>
            <ng-container matColumnDef="workgroupId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Workgroup Id</th>
                <td *matCellDef="let task" mat-cell> {{task.workgroupId}} </td>
            </ng-container>
            <ng-container matColumnDef="workgroupName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Workgroup Name</th>
                <td *matCellDef="let task" mat-cell> {{task.workgroupName}} </td>
            </ng-container>
            <ng-container matColumnDef="periodId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Period</th>
                <td *matCellDef="let task" mat-cell> {{task.periodId}} </td>
            </ng-container>
            <ng-container matColumnDef="duration">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Duration</th>
                <td *matCellDef="let task" mat-cell> {{task.duration}} </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Start Time</th>
                <td *matCellDef="let task" mat-cell> {{convertTimestamp(task.startTime)}} </td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">End Time</th>
                <td *matCellDef="let task" mat-cell> {{convertTimestamp(task.endTime)}} </td>
            </ng-container>

            <ng-container matColumnDef="timeLeft">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Time Left</th>
                <td *matCellDef="let task" mat-cell> {{calculateTimeLeft(task)}} </td>
            </ng-container>

            <ng-container matColumnDef="complete">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Complete</th>
                <td *matCellDef="let task" mat-cell> {{task.complete}} </td>
            </ng-container>

            <ng-container matColumnDef="requests">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Requests</th>
                <td *matCellDef="let task" mat-cell>
                    <div *ngIf="findTask(task.taskRequests) == 'need_approval';">
                        <button mat-raised-button color="primary">Needs Approval</button>
                     </div>
                    <div *ngIf="findTask(task.taskRequests) == 'need_help';">
                        <button mat-raised-button color="primary">Needs Help</button>.
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="tasksDisplayedColumns;" mat-header-row></tr>
            <tr *matRowDef="let row; columns: tasksDisplayedColumns;" mat-row></tr>
        </table>
    </div>
</div>

