<div class="l-constrained view-content view-content--with-sidemenu main-style" fxLayout="column" fxLayoutAlign="center">
    <!-- <h2>Task Information {{selectionTitle}}</h2> -->
    <!-- <br> -->
    <div *ngIf="periodName === 'All Periods'">
        <div style="display: inline-flex; vertical-align: middle; align-items: center;">
            <i class="material-icons">error_outline</i>
            <span> Showing tasks for all periods is currently not supported. Please choose a specific period.</span>
        </div>
    </div>
    <div class="view-content--with-sidemenu" class="mat-elevation-z1">
        <table [dataSource]="tasksDataSource" mat-table matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="workgroupId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Username</th>
                <td *matCellDef="let task" mat-cell> {{task.username}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Step</th>
                <td *matCellDef="let task" mat-cell> {{task.name}} </td>
            </ng-container>
            <ng-container matColumnDef="timeLeft">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Time Remaining</th>
                <td *matCellDef="let task" mat-cell> {{calculateTimeLeft(task)}} </td>
            </ng-container>
            <ng-container matColumnDef="requests">
                <th *matHeaderCellDef mat-header-cell mat-sort-header style="text-align: center">Requests</th>
                <td *matCellDef="let task" mat-cell>
                    <div *ngFor="let taskRequest of task.taskRequests">
                        <div *ngIf="taskRequest.complete == false; else other">
                            <ng-container *ngIf="taskRequest.status == 'need_approval'">
                                <button mat-flat-button color="primary" class="buttons"
                                        (click)="taskRequestCompleteAction(taskRequest,'approved')">
                                    <mat-icon>thumb_up</mat-icon>
                                </button>
                                <div style="height: 5px"></div>
                                <button mat-flat-button color="accent" class="buttons"
                                        (click)="taskRequestCompleteAction(taskRequest, 'needs_work')">
                                    <mat-icon>thumb_down</mat-icon>
                                </button>
                            </ng-container>
                            <div style="height: 5px"></div>
                            <ng-container *ngIf="taskRequest.status == 'need_help'">
                                <button mat-flat-button color="primary" class="buttons"
                                        (click)="taskRequestCompleteAction(taskRequest, 'helped')">
                                    <mat-icon>ring_volume</mat-icon>
                                </button>
                            </ng-container>
                            <div style="height: 5px"></div>

                        </div>
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="tasksDisplayedColumns;" mat-header-row></tr>
            <tr *matRowDef="let row; columns: tasksDisplayedColumns;" mat-row></tr>
        </table>
        <mat-paginator
            [pageSizeOptions]="[10,20]"
            [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
</div>

