<div class="main main--fullwidth home">
  <app-hero-section imgSrc="assets/img/wise-students-hero.jpg">
    <ng-template #headlineTemplate>
      <div class="accent-2">
        <mat-icon [@jackInTheBox]="{value: '*', params: {delay: '1s'}}"
                  svgIcon="eco" i18n-aria-label
                  aria-label="Environment"></mat-icon>
        <mat-icon [@bounceIn]="{value: '*', params: {delay: '1500ms'}}"
                  svgIcon="tech" i18n-aria-label
                  aria-label="Technology"></mat-icon>
        <mat-icon [@rotateIn]="{value: '*', params: {delay: '2s'}}"
                  svgIcon="group" i18n-aria-label
                  aria-label="Community"></mat-icon>
        <mat-icon [@flipInY]="{value: '*', params: {delay: '2500ms'}}"
                  svgIcon="share" i18n-aria-label
                  aria-label="Collaboration"></mat-icon>
      </div>
    </ng-template>
    <ng-template #taglineTemplate>
      <div [@flipInX]="{value: '*', params: {delay: '3500ms'}}" i18n>Designing active learning curricula for learning communities</div>
    </ng-template>
  </app-hero-section>
</div>

