<div class="main main--fullwidth home">
  <app-hero-section imgSrc="assets/img/wise-students-hero.jpg">
    <ng-template #headlineTemplate>
      <div class="accent-2">
        <mat-icon [@jackInTheBox]="{value: '*', params: {delay: '1s'}}"
                  svgIcon="ki-elicit" i18n-aria-label
                  aria-label="Elicit Ideas"></mat-icon>
        <mat-icon [@bounceIn]="{value: '*', params: {delay: '1500ms'}}"
                  svgIcon="ki-add" i18n-aria-label
                  aria-label="Add Ideas"></mat-icon>
        <mat-icon [@rotateIn]="{value: '*', params: {delay: '2s'}}"
                  svgIcon="ki-distinguish" i18n-aria-label
                  aria-label="Distinguish Ideas"></mat-icon>
        <mat-icon [@flipInY]="{value: '*', params: {delay: '2500ms'}}"
                  svgIcon="ki-connect" i18n-aria-label
                  aria-label="Connect Ideas"></mat-icon>
      </div>
    </ng-template>
    <ng-template #taglineTemplate>
      <div [@flipInX]="{value: '*', params: {delay: '3500ms'}}" i18n>Integrated science learning and teaching with technology</div>
    </ng-template>
  </app-hero-section>
</div>

