@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'node_modules/@angular/material/theming';

$main-font-color: black;

$my-app-primary: mat-palette($mat-indigo);
$my-app-accent:  mat-palette($mat-blue-grey);
$my-app-warn:    mat-palette($mat-indigo);

$primaryColor: map-get($my-app-primary, 500);

body {
    margin: 0 !important;
}
