<md-dialog aria-label="{{tasks | translate}}">
  <md-toolbar>
    <div class="md-toolbar-tools">
        <h4 class="md-title">
          <span ng-if="workgroup != null">Choose which step to send Team {{workgroup.workgroupId}} ({{workgroup.username}}) to</span>
          <span ng-if="workgroup == null">Choose which step to send Period {{period.periodName}} to</span>
        </h4>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <table mat-table>
      <tr ng-repeat="nodeItem in idToOrder | toArray | orderBy: 'order'"
          value="{{nodeItem.$key}}"
          ng-if="isApplicationNode(nodeItem.$key)">
        <td mat-cell>
          <md-button class='md-accent md-primary'
                     ng-click='sendToNode(nodeItem.$key)'>
            {{getNodePositionAndTitleByNodeId(nodeItem.$key)}}
          </md-button>
        </td>
      </tr>
    </table>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="close()" class="md-primary" aria-label="{{'close' | translate}}" translate="close"></md-button>
  </md-dialog-actions>
</md-dialog>
